*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1240px;
    margin: auto;
    padding: 16px 16px 0 16px ;
    font-family: "Montserrat";
    color: #ff6060;
}
