@mixin bg_img($imgPath) {
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.3)), url($imgPath);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
