.flex {
    display: flex;
    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
}
.column {
    flex-direction: column;
}

.apartment {
    margin-bottom: 25px;
    justify-content: space-between;
    @media screen and (max-width: 425px) {
        flex-direction: column;
    }
    h2,
    p {
        color: #ff6060;
    }
    &-tags {
        display: flex;
        line-height: 1.5;
        @media screen and (max-width: 425px) {
            margin-bottom: 15px;
            flex-wrap: wrap;
        }
        .tag {
            background-color: #ff6060;
            color: #ffffff;
            border-radius: 15px;
            margin-right: 10px;
            padding: 5px 15px;
            text-align: center;
            min-width: 115px;
            @media screen and (max-width: 425px) {
                margin-bottom: 15px;
                margin-right: 10px;
                min-width: 84px;
            }
            span {
                font-size: 12px;
            }
        }
    }
    &-location {
        h2 {
            margin: 0;
            @media screen and (max-width: 425px) {
                font-size: 20px;
            }
        }
        p{
            margin: 13px 0;
        }
    }
    .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 425px) {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        &-avatar {
            align-items: center;
            text-align: right;
            margin-bottom: 30px;
            @media screen and (max-width: 425px) {
                margin: 0;
            }
            p {
                width: 80px;
                margin-right: 15px;
                margin-bottom: 0;
                margin-top: 0;
            }
        }
        &-star {
            .fa-star {
                width: 30px;
                height: 30px;
            }
            .star-on {
                color: #ff6060;
            }
            .star {
                color: #e3e3e3;
            }
        }
    }
}

.collapse-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    @media screen and (max-width: 425px) {
        flex-direction: column;
    }
}
