.apartments-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    background-color: #f7f7f7;
    padding: 60px;
    border-radius: 10px;

    @media screen and (max-width: 425px) {
        background-color: transparent;
        padding: 0;
        margin-bottom: 50px;
    }
}
