@import "../../sass/utils/variables";
.collapsible {
    width: 48%;
    color: $primary-color;
    font-size: 18px;
    line-height: 24px;
    @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 25px;
    }
    &-header {
        position: relative;
        background-color: $primary-color;
        color: #ffffff;
        padding: 17px;
        border-radius: 15px;

        .fa-solid {
            position: absolute;
            right: 5%;
            top: 33%;
            font-size: 24px;
            cursor: pointer;
        }
    }

    &-content {
        padding: 25px 17px 17px 17px;
        background-color: #f7f7f7;
        border-radius: 15px;
        margin-top: -10px;
        // height: 150px;
        transition: 0.5s ease-in-out;
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
            }
        }
        p {
            padding-top: 15px;
            margin: 0;
        }
    }
}
