.apartment-card {
    position: relative;
    width: calc(90% / 3);
    height: 340px;

    @media screen and (max-width: 1118px) {
    }
    @media screen and (max-width: 650px) {
        width: 100%;
    }
    // .bg-apartment{
    //     background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    // }
    &-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    p {
        position: absolute;
        left: 5%;
        bottom: 2%;
        text-decoration: none;
        color: #ffffff;
        max-width: 220px;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
    }
}
