.apartment-card {
    position: relative;
    width: calc(90% / 3);
    height: 340px;
    @media screen and (max-width: 1151px) {
        width: calc(90% / 2);
    }
    @media screen and (max-width: 650px) {
        width: 100%;
    }
    &-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    p {
        position: absolute;
        width: 100%;
        left: 5.88%;
        right: 5.88%;
        top: 78.82%;
        bottom: 5.88%;
        text-decoration: none;
        color: #ffffff;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
    }
}
